.coments-section {
    height: 30vh !important;
    padding-top: 3em !important;
    background-color: #39a900;
}

.coments-section2 {
    height: 50vh !important;
    padding-top: 3em !important;
}

.coments-section3 {
    height: 60vh !important;
    padding-top: 3em !important;
}

.ratingContainer > span,
.ratingContainer .MuiBox-root > span {
    width: 5em !important;
}

.ratingContainer {
    overflow-y: auto;
}
.texto {
    font-size: 24px;
}