/* Modo claro */

.card-name-light {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-top: 2em;
    color: #000;
    text-align: center;
}

.card-subname-light {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #000;
    text-align: center;
}

.carrousel {
    cursor: grab;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.carrousel:active {
    cursor: grabbing;
}

.card-products-light {
    height: 350px;
    width: 300px;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card-products-light img {
    height: 70%;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 50px;
}

.card-productsRandom-light h5,
.card-products-light h5,
.card-products-light h6 {
    font-size: 1.2rem;
    color: #000;
    text-align: start;
    width: 100%;
}


.product-container-light,
.product-container-dark {
    width: 100%;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
}

.intern {
    display: flex;
    justify-content: center;
    width: 100%;
}

.cardFooter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 1em;
}

.cardFooter h6 {
    text-align: end !important;
}

.card-productsRandom-light {
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: .5px #999 solid;
}

.card-productsRandom-dark,
.card-productsRandom-light {
    width: 15%;
    margin-bottom: 1em;
    min-width: 250px;
    height: 50%;
    margin: 1em;
    cursor: pointer;
}

.hero-text-light {
    width: 40%;
}

@media (max-width: 900px) {
    .hero-text-light {
        width: 100% !important;
    }

    .hero-img {
        height: 200px !important;
    }
}

.hero-text-light h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-text-light p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text-light button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.hero-img {
    width: 600px;
    height: 40vh;
    object-fit: cover;
    border-radius: 10px;
}

/* Modo oscuro */

.card-name-dark {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-top: 2em;
    color: #fff;
    text-align: center;
}

.card-subname-dark {
    font-size: 20px;
    margin-bottom: 0.5rem;
    color: #fff;
    text-align: center;
}

.card-products-dark {
    height: 350px;
    width: 300px;
    border-radius: 2px;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card-products-dark img {
    height: 70%;
    width: 95%;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50px;
}

.card-productsRandom-dark h5,
.card-products-dark h5,
.card-products-dark h6 {
    font-size: 1.5rem;
    color: #fff;
    text-align: start;
    width: 100%;
}

.card-productsRandom-dark {
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: .5px #999 solid;
}

.card-productsRandom-dark p,
.card-productsRandom-dark span {
    color: #fff;
}

.hero-dark,
.hero-light {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    padding-top: 20px;
}

.hero-text-dark {
    width: 50%;
}

.hero-text-dark h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;
}

.hero-text-dark p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.hero-text-dark button {
    background-color: #39A900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.hero-button-dark {
    background-color: #39A900;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s ease-in-out;
    border-radius: 8px;
}

.hero-button-dark:hover {
    background-color: #39A900;
    color: #fff;
    opacity: .8;
}

.hero-button-light:hover {
    background-color: #39A900;
    color: #fff;
    opacity: .8;
}

.hero-button-light {
    background-color: #39A900 !important;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: .15s ease-in-out;
    border-radius: 8px;
}

.banner {
    height: 300px;
    background-image: url("./../../../public/fondo.jfif");
    background-repeat: no-repeat;
    background-size: contain;

}


/* contacto product */
/* 
.contactForm {
    width: 50%;
    padding: 2em;
    border: #fff solid 1px;
    margin: auto;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.label-dark {
    color: #fff;
}

.label-light {
    color: #000;
}

#mensaje, #correo, #nombreCompleto, #telefono {
    padding: .8em;
    width: 70%;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    border: #000 solid 1px;
    margin-bottom: .5em;
    resize: none;
    transition: .2s ease;
}

#mensaje:active, #correo:active, #nombreCompleto:active, #telefono:active {
    outline: none;
    border: #fff solid 1px; 
}

.btn-dark, .btn-light {
    border: #fff 1px solid;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    width: 150px;
    margin: 0 auto;
} */

.containerRandom {
    width: 93%;
    margin: auto;
}


.participants-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 20px;
}

.participant-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

@media(max-width: 1400px) {
    .containerRandom {
        width: 100% !important;
    }
}
@media(min-width: 1400px) {
    .participants-container {
        width: 85% !important;
    }
}